body {
    font-family: sans-serif;
}

div {
    margin: auto;
}

.borderColum {
    border-right: 3px solid black;
    border-radius: 3px;
}

.borderLine {
    border-bottom: 3px solid black;
    border-radius: 3px;
}

h1#title {
    text-align: center;
    color: blue;
}

div#board table {
    margin: auto;
}

table {
    background-color: #14bdac;
}

table td {
    padding: 2px;
}